.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #587d95;
    color: white;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.app-button {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    background-color: #2980b9;
    color: white;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
}

.app-button:hover {
    background-color: #1f6690;
}

.buttons-container {
    margin-top: 30px;
}