.quotes-container {
    text-align: center;
    padding: 20px;
    background-color: #207041;
}

.quote-box {
    background-color: #27ae60;
    color: white;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.quote-box p {
    margin: 0;
    font-size: 18px;
}

.author {
    font-weight: bold;
    margin-top: 10px;
    font-size: 16px;
}

h2 {
    color: #2c3e50;
}

.quote-box:hover {
    transform: scale(1.05);
    background-color: #219653;
}